.banner { 
    background: var(--marrom-escuro); /* Fundo mais sombrio */
    color: var(--dourado); /* Texto em dourado para um toque de magia */
    text-align: center;
    padding: 2.5em 2em;
    border: 2px solid var(--vermelho-grifinoria); /* Bordas inspiradas nas cores de Hogwarts */
    border-radius: 8px;
}

.banner__titulo {
    font-size: 20px;
    font-weight: 700;
    font-family: var(--fonte-mágica); /* Fonte temática para dar um toque mágico */
    color: var(--amarelo-lufa-lufa); /* Dourado inspirado */
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
    color: var(--branco);
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--dourado); /* Borda dourada */
    color: var(--dourado);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background: url("../img/Lupa.svg") no-repeat;
    background-position: 1em;
    opacity: 0.7;
}
